文本输入框
  <el-input v-model="input" placeholder="请输入内容"></el-input>

文本域输入框
  <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="textarea"></el-input>

下拉选择框（固定值、api取值、搜索框）
  <el-select v-model="value" placeholder="请选择">
    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
  </el-select>
data()return{}
options: [{
value: '',
label: ''
}]

下拉级联选择（省市区）//hover触发未生效
  <el-cascader v-model="value" :options="options" expand-trigger="hover" @change="handleChange">
  </el-cascader>
data()return{}
value: [],
options: [{
    value: "zhinan",
    label: "指南",
    children: [{
        value: "shejiyuanze",
        label: "设计原则",
        children: [{
            value: "yizhi",
            label: "一致"
        },
        {
            value: "fankui",
            label: "反馈"
        }]
    }]
}]


单选框
  <el-radio-group v-model="radio">
    <el-radio :label="3">备选项</el-radio>
    <el-radio :label="6">备选项</el-radio>
    <el-radio :label="9">备选项</el-radio>
  </el-radio-group>

多选框
  <el-checkbox-group v-model="checkList">
    <el-checkbox label="复选框 A"></el-checkbox>
    <el-checkbox label="复选框 B"></el-checkbox>
    <el-checkbox label="复选框 C"></el-checkbox>
    <el-checkbox label="禁用" disabled></el-checkbox>
  </el-checkbox-group>

计数器
  <el-input-number v-model="num" controls-position="right" @change="handleChange" :min="1" :max="10"></el-input-number>

带搜索图标的输入框
  <el-input placeholder="搜索" v-model="input1">
    <i slot="suffix" class="el-input__icon el-icon-search hover-cursor-pointer" @click="search"></i>
  </el-input>

日期（日期选择）
  <el-date-picker v-model="date" type="date" placeholder="选择日期">
  </el-date-picker>

日期（区间选择）
  <el-date-picker v-model="daterange" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
  </el-date-picker>

上传文件
  <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview"
    :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed"
    :file-list="fileList">
    <el-button size="small" type="primary">点击上传</el-button>
    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
  </el-upload>

回车换行（键盘事件）
1. 监听enter，替换成tab。（select如何处理）